weather_parsing/__pycache__/parsing.cpython-310.pyc
weather_parsing/__pycache__/config.cpython-310.pyc
__pycache__/db_manager.cpython-310.pyc
__pycache__/favorites_widget.cpython-310.pyc
__pycache__/settings_widget.cpython-310.pyc
db/weather_app_db.sqlite
pyui/__pycache__/favorite_cities_widget.cpython-310.pyc
pyui/__pycache__/main_window_design.cpython-310.pyc
pyui/__pycache__/settings_widget_design.cpython-310.pyc
ui/favorite_cities_widget.ui
ui/main_window_design.ui
ui/settings_widget_design.ui
